@charset "UTF-8";
*{
	font-family: Consolas, monaco, monospace;
}

h1{
	text-shadow: 3px 1px black;
}

#title{
	text-shadow: 2px 1px black;
}

h1 {
	color: red;
}

h1+h2{
	text-decoration: underline;
}

UL>LI {
	color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: silver;
}

li {
	float: left;
}

li a{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .list:hover{
	background-color: red;
	color: black;
}

li.list{
	display: inline-block;
}

.list-content{
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.list-content a{
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.list-content a:hover{
	background-color: yellow;
}

.list:hover .list-content {
	display: block;
}

#title{
	color: red;
}

.link{
	color: black;
	font-weight: bold;
}

section{
	font:25px;
	color: black;
}

caption {
	font-weight: bold;
	font-size: 120%;
}

table {
    /*margin-left: 500px;
    margin-top: 10px;*/
    text-align: center;
     margin: 0 auto;
    
}
table, th, td {
    border: 1px solid black;
}

.moduloRegistrazione{
	border: 2px solid black;
	width: 40%;
}

.moduloRegistrazione .campo{
	margin-top: 20px;
}

.moduloRegistrazione .valore{
	position: absolute;
	left: 300px;
}

.titlePage{
	text-align: center;
}
